.page-container {
    width: 1400px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.item {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: brown;
    width: 30%;
    margin: 5px;
    padding: 15px;
    border: 1px solid purple;
    border-radius: 5px;
  } 

.item span {
    text-align: center;
    display: block;
    padding: 3px 0;
    background: yellowgreen;
    margin-bottom: 2px;
}

.item span span {
    display: inline;
    font-weight: 700;
}

.item span img {
    height: 150px;
}